# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.replit
.history

# Data files
raw_reviews.json
analysis_results.json

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Cloud Deployment
s3_ready/raw-reviews/
s3_ready/
mapper.zip
reducer.zip